.card {
  /*border: 1px solid white;*/
  display: flex;
  width: 25rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  box-shadow: 1px 1px 9px 1px rgba(161, 161, 161, 0.61);
  -webkit-box-shadow: 1px 1px 9px 1px rgba(161, 161, 161, 0.61);
  -moz-box-shadow: 1px 1px 9px 1px rgba(161, 161, 161, 0.61);
}

.card:hover {
  transform: scale(1.03);
}

.imgcards {
  display: flex;
  flex-direction: column;
}

.gameThumb {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-top-left-radius: 0.4rem;
  margin-right: 1rem;
}

.cardInfo {
  flex: 1;
}

.title {
  font-size: 1.15rem;
  font-weight: bold;
  margin-top: 0.5rem;
  color: #333;
}

.rating {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #888;
}

.released {
  font-size: 0.875rem;
  margin: 0.5rem 0;
  color: #888;
}

.genres {
  font-size: 0.875rem;
  margin: 0.5rem 0;
  color: #888;
}

.platforms {
  font-size: 0.875rem;
  margin: 0.5rem 0;
  color: #888;
}

.button {
  margin-top: 0.2rem;
  border: none;
  outline: none;
  padding: 0.5rem 0.2rem;
  background-color: transparent;
}

.button:hover {
  cursor: pointer;
  color: red;
}

.seeMore {
  text-decoration: none;
  color: #7eb5f5;
  font-size: 1rem;
  margin: 0.5rem;
}

.seeMore:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #0070f3
}