/* .container */
.container {
    width: 100%;
    background-image: url(../../../public/bg-white.jpg);
    color: black;
  }
  .genresContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

  }
  /* .genrediv */
  .genrediv {
    color: black;
    background-color: #007bff;
    display: flex;
    flex-direction: row;
    margin: 0.3125rem; /* 5px */
    width: fit-content;
    border-radius: 0.3125rem; /* 5px */
    font-size: 0.875rem; /* 14px */
    font-weight: bold;
    margin-top: 0.625rem; /* 10px */
    padding: 0.3125rem 0.625rem; /* 5px 10px */
    text-align: center;
  }
  
  /* .back */
  .back {
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  
  /* .back2 */
  .back2 {
    width: auto;
  }
  
  .flexdiv{
    display: flex;
    flex-direction: row;
  }
  /* .gameThumb */
  .gameThumb {
    border: 0.0625rem solid rgb(47, 47, 47); /* 2px */
    border-radius: 0.1875rem; /* 3px */
  }
  
  /* .h1 */
  .h1 {
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.875rem; /* 30px */
    margin-bottom: 0.625rem; /* 10px */
    font-weight: bold;
    background-color: #e9ec32;
    padding: 0.3125rem 0.625rem; /* 5px 10px */
    border-radius: 0.3125rem; /* 5px */
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
  }
  
  /* .divrating */
  .divrating {
    background-color: #ffcc00;
    width: fit-content;
    display: block;
    padding: 0.3125rem 0.625rem; /* 5px 10px */
    border-radius: 0.3125rem; /* 5px */
  }
  
  /* .rating */
  .rating {
    font-size: 1.125rem; /* 18px */
    font-weight: bold;
    color: #333;
  }
  
  /* .platformsContainer */
  .platformsContainer {
    width: fit-content;
  }
  
  /* .platforms */
  .platforms {
    display: inline-block;
    margin: 0.3125rem; /* 5px */
    padding: 0.3125rem 0.625rem; /* 5px 10px */
    background-color: #28a745;
    color: #fff;
    border-radius: 0.3125rem; /* 5px */
    font-size: 0.875rem; /* 14px */
  }
  
  /* .h2 */
  .h2 {
    color: black;
    font-size: 1.25rem; /* 20px */
    margin-bottom: 0.625rem; /* 10px */
    margin-top: 0.625rem; /* 10px */
    margin-left: 0;
  }
  .leftsidediv{
    margin-right: 0.2rem;
  }
  /* .descricao */
  .descricao {
    width: 90%;
  }
  
  /* .description */
  .description {
    color: rgb(155, 155, 155);
    font-size: 18px; /* 16px */
    line-height: 1.5;
    text-align: justify;
  }
  
  /* .released */
  .released {
    font-size: 0.875rem; /* 14px */
    color: rgb(155, 155, 155);
  }
  
  /* .h6g */
  .h6g {
    color: black;
    font-size: 1.25rem; /* 20px */
  }
  
  /* .h3 */
  .h3 {
    color: black;
    font-size: 1.25rem; /* 20px */
  }
  
  /* .link */
  .link {
    color: #fff;
    margin-left: 4.75rem; /* 76px */
    font-size: 1.25rem; /* 20px */
    margin-top: 0.25rem; /* 4px */
    text-decoration: none;
    text-align: center;
    padding: 0.3125rem 0.625rem; /* 5px 10px */
    border-radius: 0.3125rem; /* 5px */
    transition-duration: 0.4s;
  }
  
  /* .developers */
  .developers {
    background-color: #bceb21;
    border-radius: 0.3125rem; /* 5px */
    padding: 0.3125rem 0.625rem;
    margin: 0.3125rem; /* 5px */
  }
  
  /* .h6h */
  .h6h {
    color: black;
    display: block;
    font-weight: bold;
    font-size: 1.25rem; /* 20px */
  }
  
  /* .h5age */
  .h5age {
    color: black;
    display: block;
    font-weight: bold;
    font-size: 1.25rem; /* 20px */
  }
  
  /* .data */
  .data {
    color: #fff;
    margin-bottom: 1rem;
  }

  .lojas{
    margin-bottom: 1rem;
  
  }
  .storediv{
    display: flex;
    color: black;
    background-color: #df1313;
    flex-direction: row;
    margin: 0.3125rem; /* 5px */
    border-radius: 0.3125rem; /* 5px */
    font-size: 0.875rem; /* 14px */
    font-weight: bold;
    margin-top: 0.625rem; /* 10px */
    padding: 0.3125rem 0.625rem; /* 5px 10px */
    text-align: center;
  
  }
  .publishers{
    margin-top: 1rem;
    margin-bottom: 1rem;
  
  }

.header2 {
    display: none;
}


.devs {
    color: #fff;
}

.Header2 {
    display: none;
}


@media screen and (max-width: 650px) {
    .Header2 {
        display: block;
        width: 100%;
       
    }

    .header {
        display: none;
    }

    .descricao {
        text-align: justify;
        width: 100%;
        margin: 0;
    }

    .container {
        margin: 0 auto;
        background-color: white;
        overflow-x: hidden;
        width: 100%;
    }

    .imageContainer {
        margin-left: 5%;
        text-align: center;
        margin-bottom: 20px;
    }

    .gameThumb {
        border: solid 2px rgb(47, 47, 47);
        width: 100%;
        margin-left: -6%;
        height: auto;
    }

    .h1 {
        position: absolute;
        top: 75%;
        left: 18%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 14px;
        cursor: pointer;
    }

    .released {
        color: black;
        margin-left: 0;
    }

    .h3 {
        margin-left: 0;
        margin-top: 10%;
        font-size: 14px;
    }

    .h6g {
        font-size: 20px;
        margin-left: 0;
        color: black;
        margin-top: 6%;
        font-size: 14px;
    }

    .divrating {
        margin-top: -10%;
        height: auto;
        left: 80%;

    }

    .rating {
        font-size: 12px;
        font-weight: bold;
    }

    .genrediv {
        width: 30%;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .h5age,
    .faixa,
    .h6h,
    .developers {
        font-size: 14px;
    }

    .h6h {
        position: absolute;
        top: 113%;
        color: black;
        display: block;
        padding: 5px 10px;
        border-radius: 5px;
        left: 50%;
    }


    .h5age {
        position: absolute;
        top: 122%;
        color: black;
        display: block;
        padding: 5px 10px;
        border-radius: 5px;
        left: 50%;
    }

    .devs {
        position: absolute;
        top: 115%;
        color: black;
        display: block;
        padding: 5px 10px;
        border-radius: 5px;
        left: 50%;

    }

    .faixa {
        position: absolute;
        top: 125%;
        color: black;
        display: block;
        padding: 5px 10px;
        border-radius: 5px;
        left: 50%;
    }

    .platforms {
        width: auto;
        height: auto;
       margin-left: auto;
       margin-right: auto;
        }
}

   /*  @media screen and (max-width: 650px) {
        .header2 {
            display: block;
            width: 100%;
        }

        .header {
            display: none;
        }

        .descricao {
            text-align: justify;
            width: 100%;
            margin: 0;
        }

        .container {
            margin: 0 auto;
            background-color: white;
            overflow-x: hidden;
            width: 100%;
        }

        .imageContainer {
            margin-left: 5%;
            position: relative;
            text-align: center;
            margin-bottom: 20px;
        }

        .gameThumb {
            border: solid 2px rgb(47, 47, 47);
            width: 100%;
            margin-left: -6%;
            height: auto;
        }

        .h1 {
            position: absolute;
            top: 75%;
            left: 18%;
            transform: translate(-50%, -50%);
            color: black;
            font-size: 14px;
            cursor: pointer;
        }

        .released {
            color: black;
            margin-left: 0;
        }

        .h3 {
            margin-left: 0;
            margin-top: 10%;
            font-size: 14px;
        }

        .h6g {
            font-size: 20px;
            margin-left: 0;
            color: black;
            margin-top: 6%;
            font-size: 14px;
        }

        .divrating {
            margin-top: -10%;
            height: auto;
            left: 80%;

        }

        .rating {
            font-size: 12px;
            font-weight: bold;
        }

        .genrediv {
            width: 30%;
            align-items: center;
            text-align: center;
            margin-left: 0;
        }

        .h5age,
        .faixa,
        .h6h,
        .developers {
            font-size: 14px;
        }

        .h6h {
            position: absolute;
            top: 113%;
            color: black;
            display: block;
            padding: 5px 10px;
            border-radius: 5px;
            left: 50%;
        }


        .h5age {
            position: absolute;
            top: 122%;
            color: black;
            display: block;
            padding: 5px 10px;
            border-radius: 5px;
            left: 50%;
        }

        .devs {
            position: absolute;
            top: 115%;
            color: black;
            display: block;
            padding: 5px 10px;
            border-radius: 5px;
            left: 50%;

        }

        .faixa {
            position: absolute;
            top: 125%;
            color: black;
            display: block;
            padding: 5px 10px;
            border-radius: 5px;
            left: 50%;
        }

        .platforms {
            width: auto;
            height: auto;
            margin-left: auto;
        }
    } */