/* .container */
.container {
  width: 100%;
  background-color: #fff;
  /* Fundo branco */
  color: black;
  background-image: url(../../../public/bg-white.jpg);
}

/* .genresContainer */
.genresContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

/* .genrediv */
.genrediv {
  color: black;
  background-color: #007bff;
  display: flex;
  flex-direction: row;
  margin: 5px;
  /* Margem padrão de 5px */
  width: fit-content;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 10px;
  text-align: center;
}

/* .back */
.back {
  margin: 2% 5%;
}

/* .back2 */
.back2 {
  width: auto;
}

.flexdiv {
  display: flex;
  flex-direction: row;
}

/* .gameThumb */
.gameThumb {
  border: 2px solid #2f2f2f;
  /* Borda com cor #2f2f2f (cinza escuro) */
  border-radius: 3px;
}

/* .h1 */
.h1 {
  transform: translate(-50%, -50%);
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #e9ec32;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.4s;
}

/* .divrating */
.divrating {
  background-color: #ffcc00;
  width: fit-content;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
}

/* .rating */
.rating {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.publi {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* .platformsContainer */
.platformsContainer {
  width: fit-content;
}

/* .platforms */
.platforms {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

/* .h2 */
.h2 {
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.leftsidediv {
  margin-right: 0.2rem;
}

/* .descricao */
.descricao {
  width: 90%;
}

/* .description */
.description {
  color: #9b9b9b;
  /* Cinza para descrição */
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

/* .released */
.released {
  font-size: 14px;
  color: #9b9b9b;
}

/* .h6g */
.h6g {
  color: black;
  font-size: 20px;
  font-size: 14px;
}

/* .h3 */
.h3 {
  color: black;
  font-size: 20px;
  font-size: 14px;
}

/* .link */
.link {
  color: #fff;
  margin-left: 76px;
  font-size: 20px;
  margin-top: 4px;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  transition-duration: 0.4s;
}

/* .developers */
.developers {
  background-color: #bceb21;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

/* .h6h */
.h6h {
  color: black;
  display: block;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}

/* .h5age */
.h5age {
  color: black;
  display: block;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}

/* .data */
.data {
  color: #fff;
  margin-bottom: 1rem;
}

.lojas {
  margin-bottom: 1rem;
}

.storediv {
  display: flex;
  color: black;
  background-color: #df1313;
  flex-direction: row;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 10px;
  text-align: center;
  align-items: center;
}

/* .publishers */
.publishers {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Header2 {
  display: none;
}

.devs {
  color: #fff;
}


/* Responsividade para telas menores (max-width: 650px) */
@media screen and (max-width: 650px) {
  .container {
    background-image: none;
  }

  .flexdiv {
    flex-direction: column;
  }
  .divrating{
    margin-left: 3%;
  }

  .publi {
    text-align: center;
  }

  .imageContainer {
    margin-left: 5%;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }

  .gameThumb {
    border: solid 2px rgb(47, 47, 47);
    border-radius: 3px;
    position: relative;
    width: 100%;
    height: auto;

  }

  .h1 {
    position: static;
    margin: 10px 0;
    margin-left: 3%;
    text-align: center;
    font-size: 24px;

  }

  .released,
  .h3,
  .h6g,
  .divrating {
    margin: 10px 0;
    text-align: center;
  }

  .genrediv {
    width: 100%;
    text-align: center;
  }

  .genresContainer {
    text-align: center;
    align-items: center;
  }

  .storediv {
    text-align: center;
    align-items: center;
  }

  .h5age,
  .faixa,
  .h6h,
  .developers {
    text-align: center;
  }

  .rating {
    margin-left: 3%;
  }

  .h6h,
  .h5age,
  .devs,
  .faixa {
    margin: 10px 0;
  }

  .platforms {
    width: auto;
  }

  .Header2 {
    display: block;
    /* Mostrar Header2 em telas menores */
  }

  .header {
    display: none;
  }
  .description{
    width: 100%;
  }
  .descricao{
    width: 100%;
  }
}