.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: black;

}

.imageContainer {
    margin-left: 5%;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.gameThumb {
    border: solid 2px rgb(47, 47, 47);
    border-radius: 3px;
    position: relative;
}

.h1 {
    position: absolute;
    top: 70%;
    left: 20.8%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #e9ec32;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.h1:hover {
    background-color: #50de71;
    color: rgb(30, 92, 216);
    box-shadow: 0 12px 16px 0 rgb(30, 92, 216), 0 17px 50px 0 rgb(30, 92, 216);
}

.divrating {
    position: absolute;
    top: 90%;
    background-color: #ffcc00;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    left: 86%;

}

.rating {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.platformsContainer {
    position: absolute;
    bottom: 35%;
    left: 50%;
    margin-left: -40%;

}

.platforms {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
}


.h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0;
}

.descricao {
    margin-left: 28vh;
    width: 50%;
}

.description {
    color: rgb(155, 155, 155);
    font-size: 16px;
    line-height: 1.5;
    text-align: initial;
}


.h6 {
    color: #fff;
    margin-left: 30vh;
}


.released {
    font-size: 14px;
    color: rgb(155, 155, 155);
    bottom: 6%;
    margin-left: 76%;
}

.genrediv {
    display: flex;
}

.genres {
    margin-left: 27vh;
    width: 7%;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 2rem;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px rgba(255, 242, 3, 0.993), 0 6px 20px 0 rgba(255, 243, 5, 0.993);
}

.genres:hover {
    background-color: #e9ec32;
    color: white;
    box-shadow: 0 12px 16px 0 rgb(25, 86, 255), 0 17px 50px 0 rgb(25, 90, 240);
}

.h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 76%;
}


.h6g {
    color: #fff;
    margin-left: 27vh;
    margin-top: 1rem;
    font-size: 20px;
}

.data {
    margin-left: -153rem;
}