.main {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.loader{
    align-items: center;
    text-align: center;
    margin-top: 15rem; 

}

.scrollbtn {
  position: fixed;
  top: 75%;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.pagesbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.searchInput {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  text-align: center;
}

.tituloprincipal {
  color: #0070f3;
  font-size: 3rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
  width: 50%;
  border-radius: 6px;
  margin: auto;
  box-shadow: #3a4cf09c 0px 10px 15px, #3a4cf09c 0px 10px 10px;
}

.divinput {
  display: flex;
  margin: auto;
  border-radius: 5px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  background-color: white;

}


.container {
  margin-left: 5rem;
}

.button {
  background-color: #0070f3;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem 0;
  text-align: center;
  margin-left: 42.5rem;
}

/* Estilos gerais para o container */
.containerInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

/* Estilos para os títulos */
.containerInputs h1 {
  font-size: 16px;
  margin: 10px 0;
}

/* Estilos para os inputs de texto */
.containerInputs input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Estilos para o input de data */
.containerInputs input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}


/* Estilos para o botão */
.containerInputs button {
  background-color: #0077FF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.containerInputs button:hover {
  background-color: #0055CC;
}


.btnscroll {
  background-color: transparent;
  border: none;
  outline: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btnscrolls {
  background-color: transparent;
  border: none;
  outline: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.allselect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  box-shadow: #0070f3;
}

.allselect select {
  margin: 0 3.5rem;
}

.op{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important ;
  background: #ffffff;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#8e8e8e;
  cursor:pointer;
  font-size: 16px;
}

.op:hover{
  color: #0055CC;
}

.allselect select {
  display: inline-block;
  width: 20%;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: #7b7b7b;
  font-size: 0.8em;
  color: #999;
  font-family:
    'Quicksand', sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;

}

.allselect select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  pointer-events: none;
}

.header2{
  display: none;
}

@media (max-width: 768px) {

  .container {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
  }
  .header2{
    display: block;
    width: 100%;
  }
  .header{
    display: none;
    
  }
  .tituloprincipal {
    width: 90%;
  }
  .divinput {
    width: 90%;
  }
  .select {
    width: 100%;
  }
  .button {
    width:100%;
  }
  .containerInputs {
    max-width: 0%;
  }
  .containerInputs input[type="text"] {
    width: 90%;
  }
  .containerInputs input[type="date"] {
    width: 90%;
  }
  .containerInputs button {
    width: 90%;
  }
  .containerGames{
    width: 100%

  }
  .scrollbtn {
    margin-right: 4%;
  }


}