  /*fundinho*/
.main{
    background-color: #303030;
} 
  /*input de pesquisar*/
  .searchInput {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    text-align: center;
    width: 100%;
  }

  .options {
    color: #93c3f9;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
  }

    /*icone pesquisar*/
  .divinput{
    display: flex;
    margin: auto;
    border-radius: 5px;
    width: fit-content;
    background-color: white;
    margin-top: 1rem;
    padding: 0.6rem;
    margin-left: 80rem;

  }

    /*input de selecionar categorias*/
  .select {
    padding: 0.5rem;
    border: 3px solid #73a5dd;
    border-radius: 0.5rem;
    outline: none;
    text-align: left;
    width: 50%;
    margin-top: 2rem;
    margin-left: 5rem;
    padding: 0.8rem;
    background-color: #1068ccb4;
    color: #fff;
    font-weight: bold;
  }

  /*botão de redefinir*/
  .button {
    background-color: #0070f3;
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    width: 10rem;
    margin-left: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
  }
  
    /*cards dos jogos*/
  .containerGames {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
    background-color: #303030;
  }

  .tituloprincipal {
    color: #0070f3;
    font-size: 3rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    width: 50%;
    border-radius: 6px;
    margin: auto;
    box-shadow: #3a4cf09c 0px 10px 15px, #3a4cf09c 0px 10px 10px;
  }

  .tit2 {
    color: #0070f3;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 2rem;
  }

  .botaodiv {
    margin-top: 2rem;
  }